body {
    background: #212121;
    padding: 20px;
    border-radius: 10px;
    color: lab(25.2% 8.91 -38.85);
    height: 100vh;
    box-shadow: 0 0 20px rgba(255, 255, 100, 1)
    border-color: #ccc;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;

}

h2 {
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgb(16, 57, 110);
    border-color: #ccc;
    border-radius: 8px;
    padding-left: 20%;
    
}

.card {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(16, 57, 110);
    border-color: #ccc;
    
}

input {
    padding: 8px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(16, 57, 110);
    border-color: #ccc;

}

button {
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 50px;
    box-shadow: 0 0 20px rgb(16, 57, 110);
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1d1c1c;
}

th, td {
    padding: 10px;
    box-shadow: 0 0 20px rgb(16, 57, 110);


}

tr:hover {
    background: #252424;
}

.tdh {
    border-radius: 5px;
    padding: 10px;
    background: #1d1b1b;
    color: #61dd7c;
    font-weight: bold;
    box-shadow: 0 0 20px rgb(16, 57, 110);
}
.tdh:hover {
    background: #07f13a;
    transform: scale(1.05);
    color: #181717;

}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 50px rgb(16, 57, 110);
  outline: none; /* Remove borda padrão do navegador */
  transform: scale(1.5);
  margin-left: 100px;
}

img
{
    margin-left: 0%;
    width: 50%;
    height: 150px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0 0 20px rgb(16, 57, 110);

    border: solid 1px #0f0e0e;

}
H2:hover
{
    
    transform: scale(1.05);
    color: #07f13a;;
    font-size: 30px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;


    
}
button:hover
{
    
    transform: scale(2.05);

}
thead:hover
{

    transform: scale(1.05);
    padding-left: 40px;
    
}

